export PGDATA=.pgdata
export PGHOST=localhost
export PGPORT=15432
export PGUSER=papa
export PGPASSWORD=visits
export PGDATABASE=papa_visits

export PGDATABASE_DEV=${PGDATABASE}_dev
export PGDATABASE_TEST=${PGDATABASE}_test

export SECRET_KEY_BASE=iwe82rPW++C8D5xtacYXEhfo4Y5kRofFea1iT4fvfPPL6cixrBSN6O3GKu3pc/5N
export PORT=14001
export PORT_SECONDARY=14002
export DEFAULT_MINUTES=120
