export PGDATA=.pgdata
export PGHOST=localhost
export PGPORT=15432
export PGUSER=papa
export PGPASSWORD=visits
export PGDATABASE=papa_visits

export SECRET_KEY_BASE=iwe82rPW++C8D5xtacYXEhfo4Y5kRofFea1iT4fvfPPL6cixrBSN6O3GKu3pc/5N
export HOST=localhost
export PORT=14001
